/build

/external/asio/*
!/external/asio/CMakeLists.txt

/external/cpr/*
!/external/cpr/CMakeLists.txt

/external/date/*
!/external/date/CMakeLists.txt

/external/json/*
!/external/json/CMakeLists.txt

/external/kashmir/*
!/external/kashmir/CMakeLists.txt

/external/pq/*
!/external/pq/CMakeLists.txt

/external/recycle/*
!/external/recycle/CMakeLists.txt

/external/restbed/*
!/external/restbed/CMakeLists.txt

/external/sqlpp11/*
!/external/sqlpp11/CMakeLists.txt

/external/sqlpp11-connector-postgresql/*
!/external/sqlpp11-connector-postgresql/CMakeLists.txt

/external/yaml/*
!/external/yaml/CMakeLists.txt

/.cquery
/.cquery_cached_index
