/build

/external
!/external/cpr/CMakeLists.txt
!/external/date/CMakeLists.txt
!/external/json/CMakeLists.txt
!/external/pistache/CMakeLists.txt
!/external/recycle/CMakeLists.txt
!/external/sqlpp11/CMakeLists.txt
!/external/sqlpp11-connector-postgresql/CMakeLists.txt

/GPATH
/GRTAGS
/GTAGS

/.cquery
/.cquery_cached_index
