/build

/external/src
/external/Makefile.inc

/external/cpr
!/external/cpr/CMakeLists.txt
/external/date
!/external/date/CMakeLists.txt
/external/json
!/external/json/CMakeLists.txt
/external/recycle
!/external/recycle/CMakeLists.txt
/external/sqlpp11
!/external/sqlpp11/CMakeLists.txt
/external/sqlpp11-connector-postgresql
!/external/sqlpp11-connector-postgresql/CMakeLists.txt

/GPATH
/GRTAGS
/GTAGS

/.cquery
/.cquery_cached_index
