dist: xenial
language: shell
os: linux
services: docker
if: tag IS blank

jobs:
  include:
    - stage: "Test"
      if: branch != master
      install: skip
      script:
        - ./ci/build_and_test.sh || travis_terminate 1
    - stage: "Deliver"
      if: branch = master
      install: skip
      script:
        - ./ci/deliver.sh || travis_terminate 1
